body{
    font: arial,sans-sarif;
    margin: 0;
    padding: 0;
}
*{
box-sizing: border-box;
}
#container {
    width: 90%;
  /*  border: 1px solid grey;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

#searchbox {
/*    float: right;*/
    flex: 50%;
     background: linear-gradient(#E4F200,#B7E953);
    min-width: 400PX;
/*    height: 50px;*/
    padding: 20px ;
/*    margin-top: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand {
/*    float: left;*/
/*    min-width: 400px;*/
    flex:50%;
}

#header {
/*    height: 100px;*/
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}


.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #8d19cb;
}

.text {
    width: 200px;
    float: left;
    padding: 5px;
    font-size: 15px;
    color: orange;
    font-size: 15px;
    background: white url(search.png) right center;
    background-repeat: no-repeat; 
    border: 1px solid rgba(255, 255, 0, 0.78);
}

.clear {
    clear: both;
}

ul{
    list-style: none;
}

li {
    
}

#menu a{
/*    float: left;*/
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid blueviolet;
}
#menu:last-child{
    border-right: none; 
}

#menu{
/*    height: 70px;*/
    background: linear-gradient(#F8F504,#D6D636);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
#menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color:blueviolet;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;/*safari*/
    -moz-transition: font-size 0.3s ease;/*mozila*/
    -o-transition: font-size 0.3s ease;/*opera*/
    -ms-transition: font-size 0.3s ease;/*internet explorer*/
    transition: font-size 0.3s ease;
}

#menu a:hover, #menu a.active{
    font-size: 20px;
    font-weight: bold;
    color:rgba(255, 20, 147, 0.85);
}
@media screen and (max-width:700px){
    #menu{
        flex-direction: column;
        align-content: center;
    }
    #menu a{
        border-right: none;
    }
}
#introduction {
    background: linear-gradient(#E5F2BB,#07E052);
    padding: 30px;
    margin: 17px 0;
}
#introduction h3{
    font-size: 45px;
    color: green;
    font-weight: normal;
}
#introduction p{
    font-size: 35px; 
    color: green;
    text-align: justify;
}
.sidebars{
    display: flex;
    flex-wrap: wrap;
}
.sidewrap{
    padding: 10px;
    flex: 50%;
}
.sidebar{
    height: 100%;
    width: 100%;
    
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px 20px;
    flex: 50%;

}
.sidebar h3{
    color: rgb(212, 58, 232);
    font-size: 30px;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: blueviolet;
      -webkit-transition: font-size 0.3s ease;/*safari*/
    -moz-transition: font-size 0.3s ease;/*mozila*/
    -o-transition: font-size 0.3s ease;/*opera*/
    -ms-transition: font-size 0.3s ease;/*internet explorer*/
    transition: font-size 0.3s ease;
}
.sidebar ul li a:hover,.sidebar ul li a.active{
    text-decoration: none;
    color: rgb(212, 43, 226);
    font-size: 23px;
}
#leftsidebar ul{
    padding-top: 8px;
}
#leftsidebar ul li{
    padding-bottom: 6px;
/*    list-style-image: url(arrow.png);*/
    padding-left: 10px;
}
/*
#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}
*/
#rightsidebar ul li{
    padding: 20px 0px 20px 70px;
    background: url(right.png) left center;
    background-repeat: no-repeat;
}
.footer{
    height: 60px;
    background: linear-gradient(#ffe034,rgba(255, 255, 0, 0.43));
    padding: 10px 30px;
    margin-top: auto;
}